<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBKMYC7wP_lj52TNYkySYvaE-rO2lfVPY</string>
	<key>GCM_SENDER_ID</key>
	<string>562992113910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jurakuziyev.todoWithFirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>todo-app-with-firebase-a-250b6</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-with-firebase-a-250b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562992113910:ios:c8866dbc9cd8d07e0764d7</string>
</dict>
</plist>